{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <!-- <script type="text/javascript" src="{{asset('assets/js/custom/home.js')}}"></script> -->
{% endblock %}
{% block content %}
    <div class="col-md-10 box-default profile-box">
    	<div id="user-publications">
    		                    {% for publication in pagination %}
                        <div class="row publication-item">

                            <div class="col-md-2">
                                <div class="avatar">
                                    {% if publication.user.image == null %}
                                        <img src="{{asset('assets/images/default.png')}}" alt="">	
                                    {%else%}
                                        <img src="{{asset('uploads/users/'~publication.user.image)}}" alt="">
                                    {% endif %}
                                </div>	                            
                            </div>
                            <div class="col-md-9 publication-item-content">
                                <p>
                                    <a class="pub-name-link" href="#">
                                        {{publication.user.name}} {{publication.user.surname}}
                                    </a>
                                    -
                                    <span class="pub-nick">{{publication.user.nick}}</span>
                                    -
                                    <span class="pub-date">
                                        {{publication.createdAt|long_time}}
                                    </span>
                                </p>
                                <div class="box-default"><p>{{publication.text}}</p></div>

                                {%if (publication.user.id is defined) and (publication.user.id == app.user.id)%}
                                    <span data-id="{{publication.id}}" class="btn-delete-pub fas fa-trash-alt fas fa-images" aria-hidden="true"></span> 
                                {%endif%}
                                {% if(publication.document is defined) and (publication.document != null) %}

                                    <a href="{{asset('uploads/publications/documents/'~publication.document)}}" class="btn-doc fas fa-download" aria-hidden="true" target="_blank">

                                    </a>
                                {%endif%}
                                {% if(publication.image is defined) and (publication.image != null) %}

                                    <span class="btn-img fas fa-images" aria-hidden="true"></span>

                                    <div class="pub-image">
                                        <img src="{{asset('uploads/publications/images/'~publication.image)}}" alt="">
                                    </div>
                                {%endif%}
                                <br>

                            </div>
                            <div class="col-md-1 like">
                                <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == true%}hidden{%endif%} far fa-heart btn-like" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Me gusta"></span>
                                <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == false%}hidden{%endif%} far fa-heart btn-unlike active" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="No me gusta"></span>
                            </div>    
                            <div class="col-md-12"><hr></div>
                        </div>
                    {% endfor %}
    	</div>
    </div>
{% endblock %}