{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
{%endblock%}    
{% block content %}
    <div class="container">
        <div class="col-md-12 box-default">
            <h1 class="box-header">
                Mensajeria privada
                <hr>
            </h1>
            <div class="col-md-7">
                <h4>Enviar nuevo mensaje privado</h4>
                {{form_start(form, {action: '', 'method':'POST'})}}
                {{form_end(form)}}
                            <br>
            <a href="#" class="btn btn-warning">Ver mensajes enviados</a>
            </div>
            <div class="clearfix"></div>    
        </div>
    </div>   

{% endblock %}    
